<header class="header">
  <div class="top-bar">
    <div class="logo">
      <img
        src="https://cdn-icons-png.flaticon.com/512/747/747095.png"
        style="width: 50px; cursor: pointer"
        alt="Logo"
        [routerLink]="''"
      />
    </div>
    <div class="search-profile">
      @if (!authService.isLoggedIn) {
      <div class="profile">
        <div class="button-container">
          <button class="custom-button login-button" (click)="login()">
            Log In
          </button>
          <button (click)="register()" class="custom-button register-button">
            Register
          </button>
        </div>
      </div>
      }@else {
      <div class="profile">
        <button class="profile-text custom-button1" (click)="toggleDropdown()">
          {{ authService.userName }}
        </button>
        <div class="profile-dropdown" [ngClass]="{ show: dropdownVisible }">
          <ul>
            <li><a routerLink="profile">Profile</a></li>
            <li><a (click)="logOut()">Logout</a></li>
          </ul>
        </div>
      </div>
      }
    </div>
  </div>
</header>
