<div class="container my-4">
  <h2 class="text-center mb-4 text-primary">Task Management</h2>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <p class="text-muted fst-italic">Easily manage your tasks below.</p>
    <button
      class="btn btn-success btn-lg shadow-sm custom-btn"
      routerLink="task/add"
    >
      Add Task
    </button>
  </div>

  <div class="table-responsive shadow-lg rounded custom-table-container">
    <table class="table table-hover table-bordered align-middle custom-table">
      <thead>
        <tr>
          <th scope="col">Sr.No.</th>
          <th scope="col">Name</th>
          <th scope="col" style="width: 250px">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of tasks; track $index) {
        <tr>
          <td class="text-center">{{ $index + 1 }}</td>
          <td class="fw-bold text-primary">{{ item.name }}</td>
          <td class="text-center">
            <button
              class="btn btn-primary btn-sm custom-action-btn me-2"
              [routerLink]="'/task/' + item._id"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm custom-action-btn"
              (click)="delete(item._id)"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
